extends base 
include _paginate

block append head
  link(href='/css/listing.css' rel='stylesheet')

block content
  main
    .container.margin_30
      .row
        .col-lg-9
          #stick_here
          .toolbox.elemento_stick.add_bottom_30
            .container
              ul.clearfix
                li
                  a(href='/all?style=grid')
                    i.ti-view-grid
                  a(href='/all?style=row')
                    i.ti-view-list
          // /toolbox
          .row.small-gutters
            each conference in conferences
              .col-6.col-md-4
                .grid_item
                  figure
                    a(href=`/${conference.slug}.${conference._id}`)
                      img.img-fluid.lazy(src='#' data-src='#' alt='')
                  img(style="width: 10rem; height: 5rem;" src= conference.imageCover alt= conference.slug)
                  a(href=`/${conference.slug}.${conference._id}`)
                    h3= conference.name
                  p
                    | #{conference.summary}
                  ul
                    li
                      a.tooltip-1(href='conference-detail.html' data-toggle='tooltip' data-placement='left' title='More')
                        svg.bi.bi-info(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                          path(d='M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z')
 
          
          +paginate(5)

        // /col
        aside#sidebar_fixed.col-lg-3
          .filter_col
            .inner_bt
              a.open_filters(href='#')
                i.ti-close
            .filter_type.version_2
              h4
                a.opened(href='#filter_1' data-toggle='collapse') Schedule
              #filter_1.collapse.show
                ul
                  li
                    label.container_check
                      | Latest 
                      small 24
                      input(type='checkbox')
                      span.checkmark
                  li
                    label.container_check
                      | Incoming 
                      small 23
                      input(type='checkbox')
                      span.checkmark
              // /filter_type
            .buttons
              a.btn_1(href='#0') Filter
              a.btn_1.gray(href='#0') Reset

  // SPECIFIC SCRIPTS
  script(src='/js/sticky_sidebar.min.js')
  script(src='/js/specific_listing.js')
