extends base 

block append head
  // SPECIFIC CSS
  link(href='/css/product_page.css' rel='stylesheet')

block content
  main.bg_gray
    .container.margin_30
      .page_header
        h1 Conference
      // /page_header
      .row.justify-content-center
        .col-lg-8
          .owl-carousel.owl-theme.prod_pics.magnific-gallery
            .item
              a(href='')
                img(src= conference.imageCover alt=conference.slug)

            // /item
          // /carousel
      // /row
    // /container
    .bg_white
      .container.margin_60_35
        .row.justify-content-between
          .col-lg-6
            .prod_info.version_2
              p
                strong Summary
                p= conference.summary
          .col-lg-5
            .prod_options.version_2
              .row
                label.col-xl-7.col-lg-5.col-md-6.col-6
                  strong Address
              .row.mt-3
                .col-lg-7.col-md-6
                  span= conference.venue.address
                    
              .row
                label.col-xl-7.col-lg-5.col-md-6.col-6
                  strong Hold time / End Time
              .row.mt-3
                .col-lg-7.col-md-6
                  .price_main
<<<<<<< HEAD
                    - let formatter = new Intl.DateTimeFormat('vi-VN', { dateStyle: 'long', timeStyle: 'short' })
                      - let start = formatter.format(conference.startDate)
                      - let end = formatter.format(conference.endDate)
                        span= start
                        p= end
=======
                    p Thời gian: dd/mm/yyyy hh:mm
                    p Địa điểm: KTX Khu B DHQG
                    p Số lượng: 200
>>>>>>> 9afdb48383aeb59ea915ef0a3c21a40883899fc0
                .col-lg-5.col-md-6
                  .btn
                    a.btn_1(href='#0') Enroll
                    .prod_options.version_2
        // /row
    // /bg_white
    .tabs_product.bg_white.version_2
      .container
        ul.nav.nav-tabs(role='tablist')
          li.nav-item
            a#tab-A.nav-link.active(href='#pane-A' data-toggle='tab' role='tab') Description
    // /tabs_product
    .tab_content_wrapper
      .container
        .tab-content(role='tablist')
          #pane-A.card.tab-pane.fade.active.show(role='tabpanel' aria-labelledby='tab-A')
            #heading-A.card-header(role='tab')
              h5.mb-0
                a.collapsed(data-toggle='collapse' href='#collapse-A' aria-expanded='false' aria-controls='collapse-A')
                  | Description
            #collapse-A.collapse(role='tabpanel' aria-labelledby='heading-A')
              .card-body
                .row.justify-content-between
                  .col-lg-6
                    h3 Details
                    p= conference.description


  script(src='/js/common_scripts.min.js')
  script(src='/js/main.js')
